##Attention Vs Happiness Vs. Dicipline

We are going to asess childrens attention, happiness and dicipline in using cellphone

In [27]:
#Load Data Set

import pandas as pd
from sklearn.model_selection import KFold, cross_val_score
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import ElasticNet
from sklearn.metrics import make_scorer, mean_absolute_error

df = pd.read_csv("BF_survey.csv")
df1 = pd.read_csv("roster.tsv")
df2 = pd.read_csv("BF_survey_sex_fixed.csv")

In [ ]:
#Check for Missing Values
df.head(500)
df1.head(5)

  Sex\tClass
0       F\t7
1       M\t7
2       M\t7
3       F\t7
4       F\t7

In [29]:
print(df["Sex"].value_counts(dropna=False))

print("\nMissing values in Sex:", df["Sex"].isna().sum())

print(df2["Sex"].value_counts(dropna=False))

print("\nMissing values in Sex:", df2["Sex"].isna().sum())

Sex
1.0    366
0.0    238
NaN     43
2.0     25
5.0      1
3.0      1
Name: count, dtype: int64

Missing values in Sex: 43
Sex
Female    395
Male      279
Name: count, dtype: int64

Missing values in Sex: 0

In [ ]:
#Check for Missing Values