In [1]:
# Basic Imports
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Preprocessing
from sklearn import preprocessing
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, OrdinalEncoder
from sklearn.utils import resample

# New for Balancing
#%pip install imbalanced-learn
from imblearn.over_sampling import SMOTE

# New for Feature Selection
from sklearn.feature_selection import SequentialFeatureSelector

# Classifiers
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.ensemble import RandomForestClassifier

# New classifier
#%pip install xgboost
from xgboost import XGBClassifier

# Evaluation
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
from sklearn.model_selection import cross_validate

#Ignore Warnings
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Load data set
df = pd.read_csv('BF_ML_ready.csv')
df

,ID,Age,Class,Sex_binary,Attention_Score,Happiness_Score,PhoneUse_Score,A1,A2,A3,...,T12,T13,T14,school every day,share phone family,electricity at home,parents rules phone,Phone purpose,Phone_total_months,Has_phone
0,1,15,10,1,2.266667,3.166667,4.583333,1,4,1,...,4,0.0,4.0,0,0,1,0,Communication,4.0,1.0
1,2,14,10,0,3.000000,3.583333,4.250000,1,4,4,...,4,1.0,0.0,0,0,0,0,"School, Games",12.0,1.0
2,3,14,10,1,1.333333,3.000000,1.083333,1,1,1,...,1,0.0,0.0,0,0,0,0,Communication,0.0,0.0
3,4,15,10,1,2.000000,2.916667,3.916667,1,1,4,...,3,1.0,0.0,0,1,0,0,School,12.0,1.0
4,5,16,10,0,2.066667,2.666667,3.833333,3,3,1,...,2,16.0,0.0,0,0,1,0,Communication,192.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,670,22,13,1,1.333333,2.666667,3.166667,1,1,1,...,4,1.0,0.0,0,0,0,0,Communication,12.0,1.0
668,671,18,13,1,1.733333,2.750000,3.583333,1,1,1,...,6,6.0,0.0,0,0,1,0,Music,72.0,1.0
669,672,20,13,1,2.333333,2.333333,3.500000,1,2,1,...,4,3.0,6.0,0,0,0,0,Communication,42.0,1.0
670,673,20,13,1,2.000000,2.833333,2.250000,1,4,1,...,1,0.0,1.0,0,0,0,0,School,1.0,1.0
671,674,20,13,1,1.733333,2.333333,5.583333,1,1,4,...,7,3.0,0.0,0,0,1,1,Social Media,36.0,1.0